<br>
<h2>Painel do ADM:</h1>
<hr>
<br>
<div class="card mt-4">
    <div class="card-body">
        <br>
        <center>
            <a href="/admin/postagens"><button class="btn btn-success">Lista de Postagens</button></a>

            <a href="/admin/categorias"><button class="btn btn-success">Lista de Categorias</button></a>

            <a href="/admin/usuarios"><button class="btn btn-success">Lista Usuarios</button></a>
         </center>
         <br>
    </div>
</div>
<br>


