<h2>Painel do ADM:</h1>
<hr>
<div class="card mt-4">
    
    <div class="card-body">
        <a href="/admin/postagens"><button class="btn btn-success">Lista de Postagens</button></a>

        <a href="/admin/categorias"><button class="btn btn-success">Lista de Categorias</button></a>
    </div>
    <div class="card-body">
        <a href="/admin/usuarios"><button class="btn btn-success">Lista Usuarios</button></a>
    </div>
</div>



